:root {

  /* Colors */

  --color-primary: #2563eb;
  --color-secondary: #0f172a;

  --color-white: #ffffff;
  --color-black: #111827;

  --color-gray-100: #f8fafc;
  --color-gray-200: #e2e8f0;
  --color-gray-500: #64748b;

  /* Border Radius */

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  /* Shadow */

  --shadow-md: 0 10px 25px rgba(0,0,0,.08);

}